<odoo>
    <data noupdate="0">
<!--        <record id="hr_expense.menu_hr_expense_sheet_my_reports" model="ir.ui.menu">-->
<!--            <field name="sequence">1</field>-->
<!--        </record>-->
<!--           <record id="hr_expense.menu_hr_expense_my_expenses_all" model="ir.ui.menu">-->
<!--            <field name="sequence">2</field>-->
<!--        </record>-->
    </data>
</odoo>
